body {
    background-color: seashell;
    width: 50%;
    text-align: center;
}

header h2 {
    border: none;
}

.userActions {
background-color: aquamarine
}

input {
    height: 30px;
    width: 90px;
    background-color:rgb(200, 228, 200);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.operator {
    height: 30px;
    width: 30px;
    background-color: slategray;
    border-radius: 4px; 
    padding: 3px; 
    font: 20px bold;
}

.js-clear {
background-color: honeydew;
height: 30px;
width: 70px;
font-size: 15px;
text-align: center;
font-weight: bold;
display: block;
margin: 4% 38%;
}

.result {
    font-style: italic;
    width:100%;
    height: 25px;
    background-color:blueviolet;
    display: inline-block;
    margin: 2% 0;
    padding: 4% 0;
}

.result button {
    background-color: honeydew;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 25px;
    border-radius: 5px;
}

.result span {
    width: 20px;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

h2 {
    border-bottom: 6px double black;
}

.displayCalcHistory {    
    text-align: left;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding 0 0 0 20px;
    background-color:coral
}

ul {
    list-style-type: none;
}
